<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>199524755177-9kfac63aqh7hamiuaonako11dodqt9ab.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.199524755177-9kfac63aqh7hamiuaonako11dodqt9ab</string>
	<key>API_KEY</key>
	<string>AIzaSyDjV_JSSVRoBJFgzKNeFN3bPNfBHLesFhg</string>
	<key>GCM_SENDER_ID</key>
	<string>199524755177</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.onlineShop</string>
	<key>PROJECT_ID</key>
	<string>zimproshop-49917</string>
	<key>STORAGE_BUCKET</key>
	<string>zimproshop-49917.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:199524755177:ios:2bea1ff124e551c3837278</string>
</dict>
</plist>